/* Вторинний колір тексту #212121 */
/* Основний колір тексту #757575 */
/* Колір тексту логотипу #2196F3   #000000 */
/* Колір меню навігації #212121 */
/* Колір активного посилання #2196F3 */
/* Колір Email, tel: background: #757575; */
/* Колір навігації Email, tel: background: #2196F3; */
/* Колір Email,tel: у footer rgba(255, 255, 255, 0.6) */
/* Колір білого тексту background: #FFFFFF; */
/* Основний колір фону #FFFFFF */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --h1-text-color: #ffffff;
  --accent-color: #2196f3;
  --logo-primary-text-color: #2196f3;
  --logo-title-text-color: #000000;
  --nav-primary-text-color: #212121;
  --email-tel-color-footer: rgba(255, 255, 255, 0.6);
  --primary-fon-color: #ffffff;
  --primary-color-footer: #2f303a;
}

/* index.html */

body {
  background-color: var(--primary-fon-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Шапка */
header {
  border: 1px solid #ececec;
  background: #ffffff;
}
.main {
  display: flex;
  align-items: center;
}

.main-naf {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--logo-primary-text-color);
}
.stydio {
  color: var(--title-text-color);
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--nav-primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav .item + .item {
  margin-left: 50px;
}

.contacts-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* Банер */
.hero {
  background-color: var(--primary-color-footer);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.baner .container {
  text-align: center;
  padding: 200px 0;
}
.baner-title {
  margin-top: 0;
  margin-bottom: 30px;

  margin-left: auto;
  margin-right: auto;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  color: var(--h1-text-color);
}
.baner-button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  text-align: center;
  border: none;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--h1-text-color);
}
.baner-button:hover,
.baner-button:focus {
  background-color: #188ce8;
}

/* Наші переваги */
.title {
  margin-top: 0;
  margin-bottom: 10px;
}
.section-list {
  display: flex;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-list .item + .item {
  margin-left: 30px;
}

.section-title,
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.section-title,
.options {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чим ми займаємось */

.work {
  padding-bottom: 94px;
}

.work-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--nav-primary-text-color);
}

.work-list {
  display: flex;
}

.work-list .item + .item {
  margin-left: 30px;
}

/* Наша команда */

.command-color {
  background-color: #f5f4fa;
}

.command-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.surname-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--nav-primary-text-color);
}

.command-list {
  display: flex;
}
.command-list .item + .item {
  margin-left: 30px;
}

.command-list .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background: var(--primary-fon-color);
}

.content {
  padding: 30px 10px;
}

.position {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Підвал */
footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--logo-primary-text-color);
}

.stydio-footer {
  color: var(--h1-text-color);
}

.address-nav .link {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: initial;

  color: var(--h1-text-color);
}

.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}

.addres-https {
  margin-top: 0;
  margin-bottom: 9px;
}
.mail {
  margin-top: 0;
  margin-bottom: 9px;
}

.tel {
  margin-top: 0;
  margin-bottom: 0px;
}

.nav-link {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: initial;

  color: rgba(255, 255, 255, 0.6);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* portfolio.html */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio .button {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  background-color: #f5f4fa;
  color: var(--nav-primary-text-color);
}
.button-container {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}

.button-container li + li {
  margin-left: 8px;
}

.portfolio .button:hover,
.portfolio .button:focus {
  background-color: var(--accent-color);
  color: var(--h1-text-color);
}
.pointer {
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-element:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-element:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.section-portfolio {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--nav-primary-text-color);
}

.portfolio-name {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
